@model AudioShopFrontend.ViewModels.CategoryViewModel

<div class="product-tab-area" id="ProductTabs">
    <div class="tab-content ">
        <div class="tab-pane clearfix" id="sort-grid">
            @foreach (var prod2 in Model.Products)
            {
                <div class="product__box product__box--default product__box--border-hover text-center float-left float-3">
                    <div class="product__img-box">
                        <a href="single-1.html" class="product__img--link">
                            <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                        </a>

                        <a onclick="AddToCart('@prod2.ProductName','@prod2.Price','@prod2.Pictures','@prod2.NidProduct',1)" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">اضافه کردن به سبد</a>
                        <span class="product__tag product__tag--discount">-12%</span>
                        <a onclick="AddToFav('@prod2.NidProduct')" class="product__wishlist-icon"><i class="icon-heart"></i></a>
                    </div>
                    <div class="product__price m-t-10">
                        @*<span class="product__price-del">$11.90</span>*@
                        <span class="product__price-reg">@prod2.Price</span>
                    </div>
                    <a href="single-1.html" class="product__link product__link--underline product__link--weight-light m-t-15">
                        @prod2.ProductName
                    </a>
                </div> <!-- End Single Default Product -->
            }
        </div>
        <div class="tab-pane show active shop-list" id="sort-list">
            @foreach (var prod1 in Model.Products)
            {
                <div class="product__box product__box--list">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="product__img-box">
                                <a href="single-1.html" class="product__img--link">
                                    <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                </a>
                                @*<span class="product__tag product__tag--discount">-12%</span>*@

                            </div>
                        </div>
                        <div class="col-md-5 pos-relative">
                            <div class="border-right pos-absolute"></div>
                            <div class="product__price">
                                @*<span class="product__price-del">$11.90</span>*@
                                <span class="product__price-reg">@prod1.Price</span>
                            </div>
                            <a href="single-1.html" class="product__link product__link--underline product__link--weight-light m-t-15">
                                @prod1.ProductName
                            </a>
                            <div class="product__desc m-t-25 m-b-30">
                                @*<p>@Html.Raw(prod1.Description)</p>*@
                                @*just for git test*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <ul class="shop__list-link">
                                    <li><a onclick="AddToCart('@prod1.ProductName','@prod1.Price','@prod1.Pictures','@prod1.NidProduct',1)" data-toggle="modal" class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">اضافه کردن به سبد</a></li>
                                    <li><a onclick="AddToFav('@prod1.NidProduct')" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i class="icon-heart"></i> علاقه مندی</a></li>
                                    <li><a href="#modalQuickView" data-toggle="modal" class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>نمایه محصول</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- Start Single List Product -->
            }
        </div>
    </div>
</div>

<div class="page-pagination">
    <span></span>
    <ul class="page-pagination__list">
        @if (Model.MinPrice > 1)
        {
            <li class="page-pagination__item">
                <a class="page-pagination__link btn btn--gray" onclick="Paginations(-2)"><i class="icon-chevron-left"></i> قبلی</a>
            </li>
        }
        <li class="page-pagination__item"><a class="page-pagination__link active btn btn--gray" href="#">@Model.MinPrice</a></li>
        @if (Model.Products.Count >= 10)
        {
            <li class="page-pagination__item">
                <a class="page-pagination__link btn btn--gray" id="nav_next" onclick="Paginations(0)">بعدی<i class="icon-chevron-right"></i></a>
            </li>
        }
    </ul>
</div>




