﻿@model AudioShopFrontend.ViewModels.CategoryViewModel

<div class="tab-content ">
    <div class="tab-pane clearfix" id="sort-grid">
        @foreach (var prod2 in Model.Products)
            {
            <div class="product__box product__box--default product__box--border-hover text-center float-left float-3">
                <div class="product__img-box">
                    <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod2.ProductNumber,prod2.ProductName.Replace(' ','-'))" class="product__img--link">
                        @if (string.IsNullOrEmpty(prod2.Pictures))
                        {
                            <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                        }
                        else
                        {
                            <img src="@Url.Content(prod2.Pictures.Split(',').FirstOrDefault())" width="540" height="540" alt="" class="product__img">
                        }
                    </a>
                    <a onclick="AddToCart('@prod2.ProductName','@prod2.Price','@prod2.Pictures','@prod2.NidProduct',1)" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">اضافه کردن به سبد</a>
                    @*<span class="product__tag product__tag--discount">-12%</span>*@
                    <a onclick="AddToFav('@prod2.NidProduct')" class="product__wishlist-icon"><i class="icon-heart"></i></a>
                </div>
                <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod2.ProductNumber,prod2.ProductName.Replace(' ','-'))" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:center;">
                    @prod2.ProductName
                </a>
                <div class="product__price m-t-10" dir="rtl" style="text-align:center;">
                    @*<span class="product__price-del">$11.90</span>*@
                    <span style="text-align:right;">قیمت : </span>
                    &nbsp;
                    <span class="product__price-reg">@String.Format("{0:n0} ریال", prod2.Price)</span>
                </div>
            </div> <!-- End Single Default Product -->
        }
    </div>
    <div class="tab-pane show active shop-list" id="sort-list">
        @foreach (var prod1 in Model.Products)
            {
            <div class="product__box product__box--list">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product__img-box">
                            <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod1.ProductNumber,prod1.ProductName.Replace(' ','-'))" class="product__img--link">
                                @if (string.IsNullOrEmpty(prod1.Pictures))
                                {
                                    <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                }
                                else
                                {
                                    <img src="@Url.Content(prod1.Pictures.Split(',').FirstOrDefault())" width="540" height="540" alt="" class="product__img">
                                }
                            </a>
                            @*<span class="product__tag product__tag--discount">-12%</span>*@

                        </div>
                    </div>
                    <div class="col-md-5 pos-relative">
                        <div class="border-right pos-absolute"></div>
                        <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod1.ProductNumber,prod1.ProductName.Replace(' ','-'))" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:center;">
                            @prod1.ProductName
                        </a>
                        <div class="product__price" dir="rtl" style="text-align:center;">
                            @*<span class="product__price-del">$11.90</span>*@
                            <span style="text-align:right;">قیمت : </span>
                            &nbsp;
                            <span class="product__price-reg">@String.Format("{0:n0} ریال", prod1.Price)</span>
                        </div>
                        <div class="product__desc m-t-25 m-b-30">
                            @*<p>@Html.Raw(prod1.Description)</p>*@
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <ul class="shop__list-link">
                                <li><a onclick="AddToCart('@prod1.ProductName','@prod1.Price','@prod1.Pictures','@prod1.NidProduct',1)" data-toggle="modal" class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">اضافه کردن به سبد</a></li>
                                <li><a onclick="AddToFav('@prod1.NidProduct')" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i class="icon-heart"></i> علاقه مندی</a></li>
                                @*<li><a href="#modalQuickView" data-toggle="modal" class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>نمایه محصول</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- Start Single List Product -->
        }
    </div>
</div>


