@model List<AudioShopFrontend.DTO.ProductDTO>

<div class="tab-content ">
    <div class="tab-pane show active clearfix" id="sort-grid">
        @foreach (var prod in Model)
        {
            <div class="product__box product__box--default product__box--border-hover text-center float-left float-4 ForceFloat">
                <div class="product__img-box">
                    <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod.ProductNumber,prod.ProductName.Replace(' ','-'))" class="product__img--link">
                        @if (prod.Pictures != null)
                        {
                            <img class="product__img" src="@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(prod.Pictures,1,3)" alt="">
                        }
                        else
                        {
                            <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                        }
                    </a>
                    <a onclick="AddToCart('@prod.ProductName','@prod.Price','@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(prod.Pictures,1,3)','@prod.NidProduct',1)" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">اضافه کردن به لیست</a>
                    @*<span class="product__tag product__tag--discount">-12%</span>*@
                    <a onclick="AddToFav('@prod.NidProduct')" class="product__wishlist-icon"><i class="icon-heart"></i></a>
                </div>
                <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod.ProductNumber,prod.ProductName.Replace(' ','-'))" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:center;">
                    @prod.ProductName
                </a>
                <div class="product__price m-t-10" dir="rtl">
                    @*<span class="product__price-del">$11.90</span>*@
                    <span style="text-align:right;">قیمت : </span>
                    &nbsp;
                    <span class="product__price-reg">@String.Format("{0:n0} ریال", prod.Price)</span>
                </div>
            </div> <!-- End Single Default Product -->

        }
    </div>
    <div class="tab-pane shop-list" id="sort-list">
        @foreach (var prod2 in Model)
        {
            <div class="product__box product__box--list">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product__img-box">
                            <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod2.ProductNumber,prod2.ProductName.Replace(' ','-'))" class="product__img--link">
                                @if (prod2.Pictures != null)
                                {
                                    <img class="product__img" src="@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(prod2.Pictures,1,3)" alt="">
                                }
                                else
                                {
                                    <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                }
                            </a>
                            @*<span class="product__tag product__tag--discount">-12%</span>*@
                        </div>
                    </div>
                    <div class="col-md-5 pos-relative">
                        <div class="border-right pos-absolute"></div>
                        <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod2.ProductNumber,prod2.ProductName.Replace(' ','-'))" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:center;">
                            @prod2.ProductName
                        </a>
                        <div class="product__price" dir="rtl" style="text-align:center;">
                            @*<span class="product__price-del">$11.90</span>*@
                            <span style="text-align:right;">قیمت : </span>
                            &nbsp;
                            <span class="product__price-reg">@String.Format("{0:n0} ریال", prod2.Price)</span>
                        </div>
                        <div class="product__desc m-t-25 m-b-30">
                            @*<p>Description???</p>*@
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <ul class="shop__list-link">
                                <li><a onclick="AddToCart('@prod2.ProductName','@prod2.Price','@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(prod2.Pictures,1,3)','@prod2.NidProduct',1)" data-toggle="modal" class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">اضافه کردن به لیست</a></li>
                                <li><a onclick="AddToFav('@prod2.NidProduct')" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i class="icon-heart"></i>علاقه مندی</a></li>
                                @*<li><a href="#modalQuickView" data-toggle="modal" class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>نمایه محصول</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- Start Single List Product -->

        }
    </div>
</div>




