@model AudioShopFrontend.ViewModels.CategoryViewModel 

@{
    ViewBag.Title = Model.Category.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="page-breadcrumb__menu ForceRTL">
                    <li class="page-breadcrumb__nav"><a href="@Url.Action("Index")">خانه </a></li>
                    <li class="page-breadcrumb__nav active"> دسته بندی @Model.Category.CategoryName</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row flex-column-reverse flex-lg-row-reverse">
        <!-- Start Leftside - Sidebar -->
        <div class="col-lg-3">

            <div class="sidebar">
                <!-- Start Single Sidebar Widget -->
                <!-- Start Single Sidebar Widget -->
                <div class="sidebar__widget gray-bg">
                    <div class="sidebar__box">
                        <h5 class="sidebar__title">فیلتر</h5>
                        <a href="" class="btn btn--box btn--blue btn--small"><i class="far fa-times"></i> حذف فیلتر ها</a>
                    </div>
                    <div class="sidebar__box m-t-40">
                        <h5 class="sidebar__title">نوع</h5>
                    </div>
                    <ul class="sidebar__menu-filter ">
                        @foreach (var catType in Model.CategoryTypes)
                        {
                            <li class="sidebar__menu-filter-list">
                                <label for="men"><span>@catType.TypeName</span><input type="checkbox" onchange="CheckboxTrigger('@catType.NidType',0)" style="margin-left:5px;margin-right:5px;" name="catType" value="'@catType.NidType'" id="'@catType.NidType'"></label>
                            </li>
                        }
                    </ul>

                    <div class="sidebar__box m-t-40">
                        <h5 class="sidebar__title">برند</h5>
                    </div>
                    <ul class="sidebar__menu-filter ">
                        @foreach (var catBrand in Model.CategoryBrands)
                        {
                            <li class="sidebar__menu-filter-list">
                                <label for="graphic-corner"><span>@catBrand.BrandName</span><input type="checkbox" onchange="CheckboxTrigger('@catBrand.NidBrand',1)" style="margin-left:5px;margin-right:5px;" name="catBrand" value="'@catBrand.NidBrand'" id="graphic-corner"></label>
                            </li>
                        }
                    </ul>
                </div>
                <div class="sidebar__widget gray-bg">
                    <div class="sidebar__box">
                        <h5 class="sidebar__title">قیمت</h5>
                    </div>
                    <div class="sidebar__price-filter ">
                        <div id="slider-range" class="price-filter-range"></div>
                        <div class="slider__price-filter-input d-flex justify-content-between">
                            <input type="number" min=@Model.MinPrice max="@Model.MaxPrice" id="min_price" class="price-range-field" value="0" />
                            <input type="number" min=@Model.MinPrice max="@Model.MaxPrice" id="max_price" class="price-range-field" value="@Model.MaxPrice" />
                        </div>
                    </div>
                </div>
                <div class="sidebar__widget banner">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner__box">
                                <a href="#" class="banner__link">
                                    @if (string.IsNullOrEmpty(Model.Category.Pictures))
                                    {
                                        <img src="@Url.Content("~/Content/assets/img/banner/banner-shop-1-img-2.jpg")" alt="" class="banner__img">
                                    }
                                    else
                                    {
                                        if (Model.Category.Pictures.Split(',').Count() > 1)
                                        {
                                            <img src="@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(Model.Category.Pictures.Split(',').LastOrDefault(),2,3)" alt="" class="banner__img">
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/Content/assets/img/banner/banner-shop-1-img-2.jpg")" alt="" class="banner__img">
                                        }
                                    }
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- End Left Sidebar -->
        <!-- Start Rightside - Content -->
        <div class="col-lg-9">
            <!-- ::::::  Start banner Section  ::::::  -->
            <div class="banner">
                <div class="row" style="margin-bottom:5rem;">
                    <div class="col-lg-12" style="display:flex;">
                        <div class="col-lg-2 myTriangleRight"></div>
                        <div class="col-lg-8" style="text-align:center;">
                            <h2>@Model.Category.CategoryName&nbsp;ماشین</h2>
                        </div>
                        <div class="col-lg-2 myTriangleLeft"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="banner__box">
                            <a class="banner__link">
                                @if (string.IsNullOrEmpty(Model.Category.Pictures))
                                {
                                    <img src="@Url.Content("~/Content/assets/img/banner/banner-shop-1-img-1.jpg")" alt="" class="banner__img">
                                }
                                else
                                {
                                    <img src="@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(Model.Category.Pictures,2,2)" alt="@Model.Category.CategoryName" title="@Model.Category.keywords.Split(',').FirstOrDefault()" class="banner__img">
                                }
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- ::::::  End banner Section  ::::::  -->
            <!-- ::::::  Start Sort Box Section  ::::::  -->
            <div class="sort-box m-tb-30">
                <!-- Start Sort Left Side -->
                <div class="sort-box__left" style="direction:rtl;">
                    <span>مرتب سازی بر اساس :</span>
                    <div class="sort-box__option">
                        <label>
                            <select name="select-sort" class="select-sort" id="sortselect">
                                <option value="1">حروف الفبا</option>
                                <option value="2"> ارزان ترین</option>
                                <option value="3">گران ترین</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="sort-box__right" style="direction:rtl;">
                    <div class="sort-box__tab">
                        <ul class="sort-box__tab-list nav">
                            <li><a class="sort-nav-link" data-toggle="tab" href="#sort-grid"><i class="icon-grid"></i>  </a></li>
                            <li><a class="sort-nav-link active" data-toggle="tab" href="#sort-list"><i class="icon-list"></i></a></li>
                        </ul>
                    </div>
                    @*<span>محصول در این دسته بندی وجود دارد @Model.Products.Count</span>*@
                </div> <!-- Start Sort Left Side -->

            </div> <!-- ::::::  Start Sort Box Section  ::::::  -->
            <div id="contents">
                <div class="product-tab-area" id="ProductTabs">
                    <div class="tab-content">
                        <div class="tab-pane clearfix" id="sort-grid">
                            @foreach (var prod2 in Model.Products.OrderBy(p => p.ProductName))
                        {
                                <div class="product__box product__box--default product__box--border-hover text-center float-left float-3">
                                    <div class="product__img-box">
                                        <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod2.ProductNumber,prod2.ProductName.Replace(' ','-'))" class="product__img--link">
                                            @if (string.IsNullOrEmpty(prod2.Pictures))
                                            {
                                                <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                            }
                                            else
                                            {
                                                <img src="@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(prod2.Pictures,1,3)" alt="@prod2.ProductName" title="@string.Format("Image_{0}",prod2.ProductName)" class="product__img">
                                            }
                                        </a>
                                        <a onclick="AddToCart('@prod2.ProductName','@prod2.Price','@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(prod2.Pictures,1,3)','@prod2.NidProduct',1)" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">اضافه کردن به سبد</a>
                                        @*<span class="product__tag product__tag--discount">-12%</span>*@
                                        <button onclick="AddToFav('@prod2.NidProduct')" class="product__wishlist-icon"><i class="icon-heart"></i></button>
                                    </div>
                                    <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod2.ProductNumber,prod2.ProductName.Replace(' ','-'))" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:center;">
                                        @prod2.ProductName
                                    </a>
                                    <div class="product__price m-t-10" dir="rtl" style="text-align:center;">
                                        @*<span class="product__price-del">$11.90</span>*@
                                        <span style="text-align:right;">قیمت : </span>
                                        &nbsp;
                                        <span class="product__price-reg">@String.Format("{0:n0} ریال", prod2.Price)</span>
                                    </div>
                                </div> <!-- End Single Default Product -->
                        }
                        </div>
                        <div class="tab-pane show active shop-list" id="sort-list">
                            @foreach (var prod1 in Model.Products.OrderBy(p => p.ProductName))
                        {
                                <div class="product__box product__box--list">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="product__img-box">
                                                <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod1.ProductNumber,prod1.ProductName.Replace(' ','-'))" class="product__img--link">
                                                    @if (string.IsNullOrEmpty(prod1.Pictures))
                                                    {
                                                        <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                                    }
                                                    else
                                                    {
                                                        <img src="@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(prod1.Pictures,1,3)" alt="@prod1.ProductName" title="@string.Format("Image_{0}",prod1.ProductName)" class="product__img">
                                                    }
                                                </a>
                                                @*<span class="product__tag product__tag--discount">-12%</span>*@

                                            </div>
                                        </div>
                                        <div class="col-md-5 pos-relative">
                                            <div class="border-right pos-absolute"></div>
                                            <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),prod1.ProductNumber,prod1.ProductName.Replace(' ','-'))" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:center;">
                                                @prod1.ProductName
                                            </a>
                                            <div class="product__price" dir="rtl" style="text-align:center;">
                                                @*<span class="product__price-del">$11.90</span>*@
                                                <span style="text-align:right;">قیمت : </span>
                                                &nbsp;
                                                <span class="product__price-reg">@String.Format("{0:n0} ریال", prod1.Price)</span>
                                            </div>
                                            <div class="product__desc m-t-25 m-b-30">
                                                @*<p>@Html.Raw(prod1.Description)</p>*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <ul class="shop__list-link">
                                                    <li><a onclick="AddToCart('@prod1.ProductName','@prod1.Price','@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetImageUrl(prod1.Pictures,1,3)','@prod1.NidProduct',1)" data-toggle="modal" class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">اضافه کردن به سبد</a></li>
                                                    <li><button  onclick="AddToFav('@prod1.NidProduct')" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i class="icon-heart"></i> علاقه مندی</button></li>
                                                    @*<li><a href="#modalQuickView" data-toggle="modal" class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>نمایه محصول</a></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- Start Single List Product -->
                        }
                        </div>
                    </div>
                </div>
                <div class="page-pagination">
                    <span></span>
                    <ul class="page-pagination__list">
                        <li class="page-pagination__item"><a class="page-pagination__link active btn btn--gray" href="#">1</a></li>
                        @if (Model.Products.Count >= 10)
                        {
                            <li class="page-pagination__item">
                                <a class="page-pagination__link btn btn--gray" id="nav_next" onclick="Paginations(0)">بعدی<i class="icon-chevron-right"></i></a>
                            </li>
                        }
                    </ul>
                </div>
           </div>
        </div>  <!-- Start Rightside - Content -->
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        var pagenumber = 1
        var FilterType = []
        var MinPrice = 0
        var MaxPrice = 0
        var Brands = []
        var Types = []
        $(function ()
        {
            $('#price-range-submit').hide();

            $("#min_price,#max_price").on('change', function () {
                $('#price-range-submit').show();

                var min_price_range = parseInt($("#min_price").val());

                var max_price_range = parseInt($("#max_price").val());

                if (min_price_range > max_price_range) {
                    $('#max_price').val(min_price_range);
                }

                $("#slider-range").slider({
                    values: [min_price_range, max_price_range]
                });
            });


            $("#min_price,#max_price").on("paste keyup", function () {
                $('#price-range-submit').show();

                var min_price_range = parseInt($("#min_price").val());

                var max_price_range = parseInt($("#max_price").val());

                if (min_price_range == max_price_range) {

                    max_price_range = min_price_range + 100;

                    $("#min_price").val(min_price_range);
                    $("#max_price").val(max_price_range);
                }

                $("#slider-range").slider({
                    values: [min_price_range, max_price_range]
                });
            });

            $("#slider-range,#price-range-submit").click(function () {

                var min_price = $('#min_price').val();
                var max_price = $('#max_price').val();
                $("#searchResults").text("Here List of products will be shown which are cost between " + min_price + " " + "and" + " " + max_price + ".");
            });

            $("#slider-range").slider({
                range: true,
                orientation: "horizontal",
                min: 0,
                max: @Model.MaxPrice,
                values: [0, @Model.MaxPrice],
                step: 100000,

                slide: function (event, ui) {
                    if (ui.values[0] == ui.values[1]) {
                        return false;
                    }

                    $("#min_price").val(ui.values[0]);
                    $("#max_price").val(ui.values[1]);
                    FilterPrice(ui.values[0],ui.values[1]);
                }
            });

            $("#min_price").val($("#slider-range").slider("values", 0));
            $("#max_price").val($("#slider-range").slider("values", 1));
            $('#sortselect').on('change', function() {
                @{ 
                    List<string> tmpNidProduct = new List<string>();
                    foreach (var prod in Model.Products)
                    {
                        tmpNidProduct.Add(prod.NidProduct.ToString());
                    }
                }
                $.ajax(
                    {
                        url : '@Url.Action("SortChange","Home")',
                        type:'post',
                        datatype:'json',
                        data:{id:1,NidProducts:'@string.Join(",", tmpNidProduct)',sortId:this.value},
                        success:function(result)
                        {
                            if(result.HasValue)
                            {
                                $("#ProductTabs").html(result.Html);
                            }
                        },
                        error:function(){}
                    });
            });
        });
        function FilterPrice(minVal,maxVal)
        {
            if(!FilterType.indexOf("1") >= 0)
            {
                FilterType.push("1")
            }
            MinPrice = minVal
            MaxPrice = maxVal
            pagenumber = 0
            Paginations(0)
        }
        function Paginations(typo)
        {
            $.ajax(
                {
                    url : '@Url.Action("Pagination","Home")',
                    type:'post',
                    datatype:'json',
                    data:{id:1,currentpage:pagenumber,target:typo,Nidcategory:@Model.Category.NidCategory,FilterType:FilterType.join(','),MinPrice:MinPrice,MaxPrice:MaxPrice,NidBrands:Brands.join(','),NidTypes:Types.join(',')},
                    success:function(result)
                    {
                        if(result.HasValue)
                        {
                            $("#contents").html(result.Html);
                            if(typo == 0)
                                pagenumber++;
                            else
                                pagenumber--;
                        }
                    },
                    error:function(){}
                });
        }
        function CheckboxTrigger(currentId,typo)
        {
            if(typo == 0) //type
            {
                if(Types.indexOf(currentId) >= 0)
                {
                    const inx = Types.indexOf(currentId)
                    Types.splice(inx,1)
                }else
                {
                    Types.push(currentId)
                }
                if (Types.length == 0) {
                    if(FilterType.indexOf("3") >= 0)
                    {
                        const tmptypeinx = FilterType.indexOf("3")
                        FilterType.splice(tmptypeinx,1)
                    }
                }else
                {
                    if(!FilterType.indexOf("3") >= 0)
                    {
                        FilterType.push("3")
                    }
                }
            }
            if(typo == 1) //brand
            {
                if(Brands.indexOf(currentId) >= 0)
                {
                    const inx2 = Brands.indexOf(currentId)
                    Brands.splice(inx2,1)
                }else
                {
                    Brands.push(currentId)
                }
                if (Brands.length == 0) {
                    if(FilterType.indexOf("2") >= 0)
                    {
                        const tmpbrandinx = FilterType.indexOf("2")
                        FilterType.splice(tmpbrandinx,1)
                    }
                }else
                {
                    if(!FilterType.indexOf("2") >= 0)
                    {
                        FilterType.push("2")
                    }
                }
            }
            pagenumber = 0
            Paginations(0)
        }

    </script>
    }