@model AudioShopFrontend.ViewModels.CheckoutViewModel
@{
    ViewBag.Title = "CheckoutDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8 mx-auto" style="margin-top:50px;">
    <div class="your-order-section">
        <div class="section-content">
            <h5 class="section-content__title">جزییات سفارش شما</h5>
        </div>
        <div class="your-order-box gray-bg m-t-40 m-b-30 ForceRTL">
            <div class="your-order-product-info">
                <div class="your-order-bottom d-flex justify-content-between" style="border-bottom:1px solid #d6cece;padding:20px 0;margin:20px 0;">
                    <h6 class="your-order-bottom-left">نام و نام خانواادگی</h6>
                    <span class="your-order-bottom-right">@Model.User.FirstName  @Model.User.LastName</span>
                </div>
                <div class="your-order-bottom d-flex justify-content-between" style="border-bottom:1px solid #d6cece;padding:20px 0;margin:20px 0;">
                    <h6 class="your-order-bottom-left">آدرس</h6>
                    <span class="your-order-bottom-right">@Model.User.Address</span>
                </div>
                <div class="your-order-bottom d-flex justify-content-between" style="border-bottom:1px solid #d6cece;padding:20px 0;margin:20px 0;">
                    <h6 class="your-order-bottom-left">کدپستی</h6>
                    <span class="your-order-bottom-right">@Model.User.ZipCode</span>
                </div>
                <div class="your-order-bottom d-flex justify-content-between" style="border-bottom:1px solid #d6cece;padding:20px 0;margin:20px 0;">
                    <h6 class="your-order-bottom-left">شماره تماس</h6>
                    <span class="your-order-bottom-right">@Model.User.Tel</span>
                </div>
                <div class="your-order-bottom d-flex justify-content-between" style="border-bottom:1px solid #d6cece;padding:20px 0;margin:20px 0;">
                    <h6 class="your-order-bottom-left">آدرس ایمیل</h6>
                    <span class="your-order-bottom-right">@Model.User.Username</span>
                </div>
                <div class="your-order-bottom d-flex justify-content-between" style="border-bottom:1px solid #d6cece;padding:20px 0;margin:20px 0;">
                    <h6 class="your-order-bottom-left">توضیحات مرسوله</h6>
                    <span class="your-order-bottom-right">@Model.Order.Description</span>
                </div>
                <div class="your-order-top d-flex justify-content-between" style="font:bolder;">
                    <h6 class="your-order-top-left">محصولات</h6>
                    <h6 class="your-order-top-right">قیمت</h6>
                </div>
                <ul class="your-order-middle">
                    @{decimal tmpCartSum = 0; decimal tmpCart = 0;}
                    @foreach (var cart in Model.Carts)
                    {
                        <li class="d-flex justify-content-between">
                            <span class="your-order-middle-left">@cart.Product.ProductName</span>
                            <span class="your-order-middle-right">@{tmpCart = (cart.Quantity ?? 1) * (cart.Product.Price);}@String.Format("{0:n0} ریال",tmpCart)</span>
                        </li>
                                    { tmpCartSum += tmpCart; }
                    }
                </ul>
                <div class="your-order-bottom d-flex justify-content-between" style="padding:20px 0;margin:20px 0;">
                    <h6 class="your-order-bottom-left">هزینه ارسال</h6>
                    <span class="your-order-bottom-right">0</span>
                </div>
                <div class="your-order-total d-flex justify-content-between">
                    <h5 class="your-order-total-left">مجموع</h5>
                    <h5 class="your-order-total-right">@String.Format("{0:n0} ریال", tmpCartSum)</h5>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn--block btn--small btn--blue btn--uppercase btn--weight" id="btnDargah" type="submit">تایید و اتصال به درگاه</a>
    </div>
</div>



@section scripts
    {
    <script type="text/javascript">
        $(function ()
        {
            $("#btnDargah").click(function (e) {
                e.preventDefault();
                $("#modalDargahAlert").modal('show')
            });
            
        });
    </script>
    }