@model List<AudioShopFrontend.DTO.ProductDTO>
@{
    ViewBag.Title = "Generals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="page-breadcrumb__menu ForceRTL">
                    <li class="page-breadcrumb__nav"><a href="@Url.Action("Index","Home")">خانه</a></li>
                    @if (TempData["GeneralPageName"].ToString() == "1")
                    {
                        <li class="page-breadcrumb__nav active">جدید ترین محصولات</li>
                    }
                    @if (TempData["GeneralPageName"].ToString() == "2")
                    {
                        <li class="page-breadcrumb__nav active">محصولات ویژه</li>
                    }
                    @if (TempData["GeneralPageName"].ToString() == "3")
                    {
                        <li class="page-breadcrumb__nav active">محصولات پرفروش</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Start Rightside - Content -->
        <div class="col-12">
            <!-- ::::::  Start banner Section  ::::::  -->
            <div class="banner">
                <div class="row">
                    <div class="col-12">
                        <div class="banner__box">
                            <a href="single-1.html" class="banner__link">
                                <img src="@Url.Content("~/Content/assets/img/banner/banner-shop-1-img-1.jpg")" alt="" class="banner__img">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- ::::::  End banner Section  ::::::  -->
            <!-- ::::::  Start Sort Box Section  ::::::  -->
            <div class="sort-box m-tb-30">
                <!-- Start Sort Left Side -->
                <div class="sort-box__left" style="direction:rtl;">
                    <span>مرتب سازی بر اساس :</span>
                    <div class="sort-box__option">
                        <label>
                            <select name="select-sort" class="select-sort" id="sortselect">
                                <option value="1">حروف الفبا</option>
                                <option value="2"> ارزان ترین</option>
                                <option value="3">گران ترین</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="sort-box__right" style="direction:rtl;">
                    <div class="sort-box__tab">
                        <ul class="sort-box__tab-list nav">
                            <li><a class="sort-nav-link" data-toggle="tab" href="#sort-grid"><i class="icon-grid"></i>  </a></li>
                            <li><a class="sort-nav-link active" data-toggle="tab" href="#sort-list"><i class="icon-list"></i></a></li>
                        </ul>
                    </div>
                    @*<span>محصول در این دسته بندی وجود دارد @Model.Products.Count</span>*@
                </div> <!-- Start Sort Left Side -->

            </div> <!-- ::::::  Start Sort Box Section  ::::::  -->
            <div id="contents">
                <div class="product-tab-area" id="ProductTabs">
                    <div class="tab-content ">
                        <div class="tab-pane show active clearfix" id="sort-grid">
                            @foreach (var prod in Model)
                        {
                                <div class="product__box product__box--default product__box--border-hover text-center float-left float-4 ForceFloat">
                                    <div class="product__img-box">
                                        <a href="@Url.Action("Product","Home",new { NidProduct = prod.NidProduct})" class="product__img--link">
                                            @if (prod.Pictures != null)
                                        {
                                                <img class="product__img" src="@Url.Content(prod.Pictures.Split(',').FirstOrDefault())" width="540" height="540" alt="">
                                        }
                                        else
                                        {
                                                <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                        }
                                        </a>
                                        <a onclick="AddToCart('@prod.ProductName','@prod.Price','@prod.Pictures','@prod.NidProduct',1)" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">اضافه کردن به لیست</a>
                                        @*<span class="product__tag product__tag--discount">-12%</span>*@
                                        <a onclick="AddToFav('@prod.NidProduct')" class="product__wishlist-icon"><i class="icon-heart"></i></a>
                                    </div>
                                    <a href="@Url.Action("Product","Home",new { NidProduct = prod.NidProduct})" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:right;">
                                        @prod.ProductName
                                    </a>
                                    <div class="product__price m-t-10" dir="rtl">
                                        @*<span class="product__price-del">$11.90</span>*@
                                        <span style="text-align:right;">قیمت : </span>
                                        &nbsp;
                                        <span class="product__price-reg">@String.Format("{0:n0} ریال", prod.Price)</span>
                                    </div>
                                </div> <!-- End Single Default Product -->

                        }
                        </div>
                        <div class="tab-pane shop-list" id="sort-list">
                            @foreach (var prod2 in Model)
                        {
                                <div class="product__box product__box--list">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="product__img-box">
                                                <a href="@Url.Action("Product","Home",new { NidProduct = prod2.NidProduct})" class="product__img--link">
                                                    @if (prod2.Pictures != null)
                                                {
                                                        <img class="product__img" src="@Url.Content(prod2.Pictures.Split(',').FirstOrDefault())" width="540" height="540" alt="">
                                                }
                                                else
                                                {
                                                        <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                                }
                                                </a>
                                                <span class="product__tag product__tag--discount">-12%</span>

                                            </div>
                                        </div>
                                        <div class="col-md-5 pos-relative">
                                            <a href="@Url.Action("Product","Home",new { NidProduct = prod2.NidProduct})" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:right;">
                                                @prod2.ProductName
                                            </a>
                                            <div class="border-right pos-absolute"></div>
                                            <div class="product__price" dir="rtl">
                                                @*<span class="product__price-del">$11.90</span>*@
                                                <span style="text-align:right;">قیمت : </span>
                                                &nbsp;
                                                <span class="product__price-reg">@String.Format("{0:n0} ریال", prod2.Price)</span>
                                            </div>
                                            <div class="product__desc m-t-25 m-b-30">
                                                <p>Description???</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <ul class="shop__list-link">
                                                    <li><a onclick="AddToCart('@prod2.ProductName','@prod2.Price','@prod2.Pictures','@prod2.NidProduct',1)" data-toggle="modal" class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">اضافه کردن به لیست</a></li>
                                                    <li><a onclick="AddToFav('@prod2.NidProduct')" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i class="icon-heart"></i>علاقه مندی</a></li>
                                                    @*<li><a href="#modalQuickView" data-toggle="modal" class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>نمایه محصول</a></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- Start Single List Product -->

                        }
                        </div>
                    </div>
                </div>

                <div class="page-pagination">
                    <span></span>
                    <ul class="page-pagination__list">
                        <li class="page-pagination__item"><a class="page-pagination__link active btn btn--gray" href="#">1</a></li>
                        @if (Model.Count >= 10)
                        {
                            <li class="page-pagination__item">
                                <a class="page-pagination__link btn btn--gray" id="nav_next" onclick="Paginations(0)">بعدی<i class="icon-chevron-right"></i></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>


            </div>  <!-- Start Rightside - Content -->
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">
        var pagenumber = 1
        $(function ()
        {
            $('#sortselect').on('change', function() {
           @{ 
              List<string> tmpNidProduct = new List<string>();
              foreach (var prod in Model)
              {
                tmpNidProduct.Add(prod.NidProduct.ToString());
              }
            }
                $.ajax(
                    {
                        url : '@Url.Action("SortChange","Home")',
                        type:'post',
                        datatype:'json',
                        data:{id:2,NidProducts:'@string.Join(",", tmpNidProduct)',sortId:this.value},
                        success:function(result)
                        {
                            if(result.HasValue)
                            {
                                $("#ProductTabs").html(result.Html);
                            }
                        },
                        error:function(){}
                    });
            });
        });
        function Paginations(typo)
        {
            $.ajax(
                {
                    url : '@Url.Action("Pagination","Home")',
                    type:'post',
                    datatype:'json',
                    data:{id:2,currentpage:pagenumber,target:typo,Nidcategory:@TempData["GeneralPageName"]},
                    success:function(result)
                    {
                        if(result.HasValue)
                        {
                            $("#contents").html(result.Html);
                            if(typo == 0)
                                pagenumber++;
                            else
                                pagenumber--;
                        }
                    },
                    error:function(){}
                });
        }
    </script>
    }