﻿@model List<AudioShopFrontend.Models.Favorite>
@{
    ViewBag.Title = "علاقه مندی ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="page-breadcrumb__menu ForceRTL">
                    <li class="page-breadcrumb__nav"><a href="@Url.Action("Index")">خانه</a></li>
                    <li class="page-breadcrumb__nav active">لیست علاقه مندی ها</li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- ::::::  End  Breadcrumb Section  ::::::  -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <h5 class="section-content__title">محصولات مورد علاقه شما</h5>
            </div>
            <!-- Start Wishlist Table -->
            <div class="table-content table-responsive cart-table-content m-t-30 ForceRTL">
                <table>
                    <thead>
                        <tr>
                            <th>تصویر</th>
                            <th>نام محصول</th>
                            <th>قیمت واحد</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fav in Model)
                        {
                            <tr id="@fav.NidFav">
                                <td class="product-thumbnail">
                                    @if (!string.IsNullOrEmpty(fav.Product.Pictures))
                                    {
                                        <a href="@Url.Action("Product","Home",new { NidProduct = fav.NidProduct})"><img class="img-fluid" src="@fav.Product.Pictures.Split(',').FirstOrDefault()" alt=""></a>
                                    }
                                </td>
                                <td class="product-name"><a href="@Url.Action("Product","Home",new { NidProduct = fav.NidProduct})">@fav.Product.ProductName</a></td>
                                <td class="product-price-cart"><span class="amount">@fav.Product.Price</span></td>
                                <td class="product-add-cart">
                                    <button onclick="AddToCart('@fav.Product.ProductName', '@fav.Product.Price', '@fav.Product.Pictures', '@fav.NidProduct',1)" style="min-width:200px;margin:5px;" data-toggle="modal" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight">افزودن سبد خرید</button>
                                    <button onclick="ClearProductFromFav('@fav.NidFav')" style="min-width:200px;margin:5px;" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight">حذف</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>  <!-- End Wishlist Table -->
        </div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        function ClearProductFromFav(nidfav) {
            $.ajax(
                {
                    url: '@Url.Action("RemoveProductFromFav","Home")',
                    type: 'post',
                    datatype: 'json',
                    data: { NidFav: nidfav },
                    success: function (result) {
                        if (result.HasValue) {
                            var favItem = document.getElementById(nidfav)
                            favItem.remove();
                            $("#FavCount").text(result.tmpNidCategory);
                        }
                    },
                    error: function () { }
                });
        }
    </script>
}