@model AudioShopFrontend.ViewModels.ProductPageViewModel
@{
    //ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="page-breadcrumb__menu ForceRTL">
                    <li class="page-breadcrumb__nav"><a href="@Url.Action("Index")">خانه</a></li>
                    <li class="page-breadcrumb__nav active">محصول </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Start Product Details Gallery -->
        <div class="col-12">
            <div class="product-details">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery-box product-gallery-box__vertical product-gallery-box__tab-left">
                            <div class="product-image--large gallery--right overflow-hidde m-l-20">
                                @if (Model.Product.Pictures != null)
                                {
                                <img class="img-fluid" id="img-zoom" src="@Model.Product.Pictures.Split(',').FirstOrDefault()" data-zoom-image="@Model.Product.Pictures.Split(',').FirstOrDefault()" alt="">
                                }
                                else
                                {
                                <img class="img-fluid" id="img-zoom" src="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-1.jpg")" data-zoom-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-1.jpg")" alt="">
                                }
                            </div>
                            <div id="gallery-zoom" class="product-image--thumb product-image--thumb-vertical overflow-hidden gallery--left">
                                <div class="swiper-wrapper">
                                    @if (Model.Product.Pictures != null)
                                    {
                                        foreach (var pics in Model.Product.Pictures.Split(','))
                                        {
                                            <div class="swiper-slide">
                                                <a href="#" class="zoom-active" data-image="@pics" data-zoom-image="@pics">
                                                    <img class="img-fluid" src="@pics" alt="">
                                                </a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="swiper-slide">
                                            <a href="#" class="zoom-active" data-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-1.jpg")" data-zoom-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-1.jpg")">
                                                <img class="img-fluid" src="@Url.Content("~/Content/assets/img/product/gallery/gallery-thumb/product-gallery-thumb-1.jpg")" alt="">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" data-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-2.jpg")" data-zoom-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-2.jpg")">
                                                <img class="img-fluid" src="@Url.Content("~/Content/assets/img/product/gallery/gallery-thumb/product-gallery-thumb-2.jpg")" alt="">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" data-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-3.jpg")" data-zoom-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-3.jpg")">
                                                <img class="img-fluid" src="@Url.Content("~/Content/assets/img/product/gallery/gallery-thumb/product-gallery-thumb-3.jpg")" alt="">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" data-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-4.jpg")" data-zoom-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-4.jpg")">
                                                <img class="img-fluid" src="@Url.Content("~/Content/assets/img/product/gallery/gallery-thumb/product-gallery-thumb-4.jpg")" alt="">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" data-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-5.jpg")" data-zoom-image="@Url.Content("~/Content/assets/img/product/gallery/gallery-large/product-gallery-large-5.jpg")">
                                                <img class="img-fluid" src="@Url.Content("~/Content/assets/img/product/gallery/gallery-thumb/product-gallery-thumb-5.jpg")" alt="">
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-details-box">
                            <h5 class="section-content__title ForceRTL">@Model.Product.ProductName</h5>
                            <span class="text-reference"></span>
                            <div class="review-box">
                                <a href="#product-review" class="link--gray link--icon-left  m-b-5"><i class="fal fa-comment-dots"></i>خواندن نظرات </a>
                                <button onclick="AddReview('@Model.Product.ProductName','','')" data-toggle="modal" class="link--gray link--icon-left m-b-5"><i class="fal fa-edit"></i> نوشتن نظر</button>
                            </div>
                            <div class="product__price" dir="rtl">
                                @*<span class="product__price-del">$11.90</span>*@
                                <span style="text-align:right;">قیمت : </span>
                                &nbsp;
                                <span class="product__price-reg">@String.Format("{0:n0} ریال", Model.Product.Price)</span>
                            </div>
                            <div class="product__desc m-t-25 m-b-30">
                                <p></p>
                            </div>
                            <div class="product-var p-t-30">
                                <div class="product-quantity product-var__item">
                                    <span class="product-var__text" style="padding-left:20px;text-align:left !important;">تعداد</span>
                                    <div class="product-quantity-box">
                                        <div class="quantity">
                                            <input onchange="ProductCountChanged()" id="quantitySelect" style="border:1px solid #d6cece;" type="number" min="1" max="9" step="1" value="1">
                                        </div>
                                        <button onclick="AddThisToCart('@Model.Product.ProductName','@Model.Product.Price','@Model.Product.Pictures','@Model.Product.NidProduct')" data-toggle="modal" data-dismiss="modal" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-l-20">اضافه کردن به لیست خرید</button>
                                    </div>

                                </div>
                            </div>
                            <div class="product-links" style="display:flex;direction:rtl;">
                                <div class="product-social m-tb-30">
                                    <span>اشتراک گذاری</span>
                                    <ul class="product-social-link">
                                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-telegram"></i></a></li>
                                    </ul>
                                </div>
                                <button onclick="AddToFav('@Model.Product.NidProduct')" class="link--gray link--icon-left shop__wishlist-icon m-b-5" style="margin:30px 30px 30px 0;direction:rtl;left:0;"><i class="icon-heart"></i>علاقه مندی ها</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Product Details Gallery -->
        <!-- Start Product Details Tab -->
        <div class="col-12">
            <div class="product product--1 border-around product-details-tab-area">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content--border">
                            <ul class="tablist tablist--style-black tablist--style-title tablist--style-gap-70 nav ForceRTL">
                                <li><a class="nav-link active" data-toggle="tab" href="#product-desc">توضیحات محصول</a></li>
                                @*<li><a class="nav-link" data-toggle="tab" href="#product-dis">جزییات</a></li>*@
                                <li><a class="nav-link" data-toggle="tab" href="#product-review">نظرات</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product-details-tab-box m-t-50">
                            <div class="tab-content">
                                <!-- Start Tab - Product Description -->
                                <div class="tab-pane show active" id="product-desc">
                                    <div class="para__content">
                                        <div class="table-responsive-md ForceRTL" style="font-size:larger;overflow:visible;">
                                            @Html.Raw(Model.Product.Description)
                                        </div>
                                    </div>
                                </div>  <!-- End Tab - Product Description -->
                                @*<div class="tab-pane product-dis" id="product-dis">
                                    <div class="product-dis__content">
                                        <a href="#" class="product-dis__img m-b-30"><img src="@Url.Content("~/Content/assets/img/logo/another-logo.jpg")" alt=""></a>
                                        @Model.Product.Details
                                    </div>
                                </div>*@
                                <!-- Start Tab - Product Review -->
                                <div class="tab-pane product-review" id="product-review">
                                    <!-- Start - Review Comment -->
                                <!--
                                    <ul class="comment">
                                        <li class="comment__list">
                                            <div class="comment__wrapper">
                                                <div class="comment__img">
                                                    <img src="@Url.Content("~/Content/assets/img/user/image-1.png")" alt="">
                                                </div>
                                                <div class="comment__content">
                                                    <div class="comment__content-top">
                                                        <div class="comment__content-left">
                                                            <h6 class="comment__name">Kaedyn Fraser</h6>
                                                            <ul class="product__review">
                                                                <li class="product__review--fill"><i class="icon-star"></i></li>
                                                                <li class="product__review--fill"><i class="icon-star"></i></li>
                                                                <li class="product__review--fill"><i class="icon-star"></i></li>
                                                                <li class="product__review--fill"><i class="icon-star"></i></li>
                                                                <li class="product__review--blank"><i class="icon-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <div class="comment__content-right">
                                                            <a href="#" class="link--gray link--icon-left m-b-5"><i class="fas fa-reply"></i>Reply</a>
                                                        </div>
                                                    </div>

                                                    <div class="para__content">
                                                        <p class="para__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore dolorem a unde modi iste odio amet, fugit fuga aliquam, voluptatem maiores animi dolor nulla magnam ea! Dignissimos aspernatur cumque nam quod sint provident modi alias culpa, inventore deserunt accusantium amet earum soluta consequatur quasi eum eius laboriosam, maiores praesentium explicabo enim dolores quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam officia, saepe repellat. </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="comment__reply">
                                                <li class="comment__reply-list">
                                                    <div class="comment__wrapper">
                                                        <div class="comment__img">
                                                            <img src="@Url.Content("~/Content/assets/img/user/image-2.png")" alt="">
                                                        </div>
                                                        <div class="comment__content">
                                                            <div class="comment__content-top">
                                                                <div class="comment__content-left">
                                                                    <h6 class="comment__name">Oaklee Odom</h6>
                                                                </div>
                                                                <div class="comment__content-right">
                                                                    <a href="#" class="link--gray link--icon-left m-b-5"><i class="fas fa-reply"></i>Reply</a>
                                                                </div>
                                                            </div>

                                                            <div class="para__content">
                                                                <p class="para__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore dolorem a unde modi iste odio amet, fugit fuga aliquam, voluptatem maiores animi dolor nulla magnam ea! Dignissimos aspernatur cumque nam quod sint provident modi alias culpa, inventore deserunt accusantium amet earum soluta consequatur quasi eum eius laboriosam, maiores praesentium explicabo enim dolores quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam officia, saepe repellat. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="comment__list">
                                            <div class="comment__wrapper">
                                                <div class="comment__img">
                                                    <img src="@Url.Content("~/Content/assets/img/user/image-3.png")" alt="">
                                                </div>
                                                <div class="comment__content">
                                                    <div class="comment__content-top">
                                                        <div class="comment__content-left">
                                                            <h6 class="comment__name">Jaydin Jones</h6>
                                                            <ul class="product__review">
                                                                <li class="product__review--fill"><i class="icon-star"></i></li>
                                                                <li class="product__review--fill"><i class="icon-star"></i></li>
                                                                <li class="product__review--fill"><i class="icon-star"></i></li>
                                                                <li class="product__review--fill"><i class="icon-star"></i></li>
                                                                <li class="product__review--blank"><i class="icon-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <div class="comment__content-right">
                                                            <a href="#" class="link--gray link--icon-left m-b-5"><i class="fas fa-reply"></i>Reply</a>
                                                        </div>
                                                    </div>

                                                    <div class="para__content">
                                                        <p class="para__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore dolorem a unde modi iste odio amet, fugit fuga aliquam, voluptatem maiores animi dolor nulla magnam ea! Dignissimos aspernatur cumque nam quod sint provident modi alias culpa, inventore deserunt accusantium amet earum soluta consequatur quasi eum eius laboriosam, maiores praesentium explicabo enim dolores quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam officia, saepe repellat. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>  
                                -->

                                    <button onclick="AddReview('@Model.Product.ProductName','','')" data-toggle="modal" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-t-30">نوشتن نظر</button>
                                </div>  <!-- Start Tab - Product Review -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- End Product Details Tab -->

        <div class="col-12">
            <!-- ::::::  Start  Product Style - Default Section  ::::::  -->
            <div class="product product--1 swiper-outside-arrow-hover">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content section-content--border d-flex align-items-center justify-content-between ForceRTL">
                            <h5 class="section-content__title">محصولات مشابه </h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="swiper-outside-arrow-fix pos-relative">
                            <div class="product-default-slider-5grid overflow-hidden  m-t-50">
                                <div class="swiper-wrapper">
                                    @foreach (var sim in Model.Similars)
                                    {
                                    <!-- Start Single Default Product -->
                                        <div class="product__box product__box--default product__box--border-hover swiper-slide text-center">
                                            <div class="product__img-box">
                                                <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),sim.ProductNumber,sim.ProductName.Replace(' ','-'))" class="product__img--link">
                                                    @if (!string.IsNullOrEmpty(sim.Pictures))
                                                    {
                                                        <img class="product__img" src="@sim.Pictures.Split(',').FirstOrDefault()" alt="">
                                                    }
                                                    else
                                                    {
                                                        <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                                    }
                                                </a>

                                                <button onclick="AddToCart('@Model.Product.ProductName','@Model.Product.Price','@Model.Product.Pictures','@Model.Product.NidProduct',1)" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">اضافه کردن به لیست خرید</button>
                                                @*<span class="product__tag product__tag--discount"></span>*@
                                                <a onclick="AddToFav('@Model.Product.NidProduct')" class="product__wishlist-icon"><i class="icon-heart"></i></a>
                                            </div>
                                            <a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),sim.ProductNumber,sim.ProductName.Replace(' ','-'))" class="product__link product__link--underline product__link--weight-light m-t-15" style="direction:rtl;text-align:right;">
                                                @sim.ProductName
                                            </a>
                                            <div class="product__price m-t-10">
                                                @*<span class="product__price-del">$11.90</span>*@
                                                <span style="text-align:right;">قیمت : </span>
                                                &nbsp;
                                                <span class="product__price-reg">@String.Format("{0:n0} ریال", sim.Price)</span>
                                            </div>
                                        </div> <!-- End Single Default Product -->
                                    }
                                </div>
                                <div class="swiper-buttons">
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next default__nav default__nav--next"><i class="fal fa-chevron-right"></i></div>
                                    <div class="swiper-button-prev default__nav default__nav--prev"><i class="fal fa-chevron-left"></i></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- ::::::  End  Product Style - Default Section  ::::::  -->
        </div>
    </div>
</div>


<div class="modal fade" id="modalAddThisCart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">محصول با موفقیت به سبد خرید اضافه گردید</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="modal__product-img">
                                        <img class="img-fluid" id="modal_img" src="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <span class="modal__product-title" id="modal_name"></span>
                                    <span class="modal__product-price m-tb-15" id="modal_price"></span>
                                    <ul class="modal__product-info">
                                        @*<li>Size:<span> S</span></li>
                                            <li>Quantity:<span>3</span></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 modal__border">
                            <span class="modal__product-cart-item" style="text-align:right;direction:rtl;float:right;"><i id="modal_prodcount"></i> محصول در سبد خرید وجود دارد  </span>
                            <ul class="modal__product-shipping-info m-tb-15">
                                <li></li>
                                <li></li>
                                @*<li>Taxes:<span>$0.00</span></li>
                                    <li>Total: <span>$101.78 (tax excl.)</span></li>*@
                            </ul>

                            <div class="modal__product-cart-buttons">
                                <a href="#" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight" data-dismiss="modal">ادامه خرید</a>
                                <a href="@Url.Action("MyCart","Home")" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight">تسویه حساب</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Modal Review cart -->
<div class="modal fade" id="modalReview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">نظر خود را ثبت کنید</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="modal-review-img">
                                @if (!string.IsNullOrEmpty(Model.Product.Pictures))
                                {
                                    <img class="product__img" src="@Model.Product.Pictures.Split(',').FirstOrDefault()" alt="">
                                }
                                else
                                {
                                    <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                }
                            </div>
                            <span class="modal__product-title m-t-25 ForceRTL" id="ReviewTitle"></span>
                            <div class="product__desc m-t-15">
                                <p id="ReviewDesc"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form action="#" method="post" class="form-box">
                                <div class="form-box__single-group">
                                    <label for="form-message">عنوان</label>
                                    <input type="text" id="form-message">
                                </div>
                                <div class="form-box__single-group">
                                    <label for="form-review">نظر شما</label>
                                    <textarea id="commentText" rows="5"></textarea>
                                </div>
                                <div class="from-box__buttons d-flex justify-content-between d-flex-warp m-t-25 align-items-center">
                                    <div class="from-box__left">
                                    </div>
                                    <div class="form-box-right">
                                        <button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight" id="btnReviewSubmit" type="submit">ارسال</button>
                                        <button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight" type="button" data-dismiss="modal" aria-label="Close">انصراف</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Modal Quickview cart -->


@section scripts
    {
    <script type="text/javascript">
        var currentProductNumber = 1
        $(function ()
        {
            $("#btnReviewSubmit").click(function (e)
            {
                e.preventDefault();
                $.ajax(
                    {
                        url: '@Url.Action("SubmitAddReview","Home")',
                        type: 'post',
                        datatype: 'json',
                        data: {
                            CommentText: $("#commentText").val(),NidUser:'@AudioShopFrontend.ViewModels.SharedLayotViewModel.GetUserId()'},
                        success: function (result)
                        {
                            if(result.HasValue)
                            {
                                $("#modalReview").modal('toggle')
                                myNotify('bottom', 'center', '', 'success', 'animated fadeInLeft', 'animated fadeOutLeft', result.Message);
                            } else {
                                myNotify('bottom', 'center', '', 'warning', 'animated fadeInLeft', 'animated fadeOutLeft', result.Message);
                            }
                        },
                        error: function () { }
                    });
            });
        });
        function AddReview(productname, description, picture)
        {
            $("#ReviewTitle").text(productname)
            $("#ReviewDesc").text(description)
            $("#modalReview").modal('show')
        }
        function ProductCountChanged()
        {
            currentProductNumber = $("#quantitySelect").val()
        }
        function AddThisToCart(productName, Price, ImageUrl, NidProd) {
            $.ajax(
                {
                    url: '@Url.Action("AddProductToCart","Home")',
                    type: 'post',
                    datatype: 'json',
                    data: { NidProduct: NidProd, Quantity: currentProductNumber, price:Price },
                    success: function (result) {
                        if (result.HasValue) {
                            $("#CartCount").html(result.tmpNidCategory);
                            $("#CartPopupCount").text('تعداد محصولات : ' + result.tmpNidCategory);
                            $("#cartpopup").html(result.Html);
                            $("#modal_img").attr("src", ImageUrl)
                            $("#modal_name").text(productName)
                            $("#modal_price").text(result.Message)
                            $("#modal_prodcount").text(result.tmpNidCategory)
                            $("#modalAddThisCart").modal('show')
                        } else {
                            $("#modalAddCartAlert").modal('show')
                        }
                    },
                    error: function () { }
                });
        }
    </script>
}